<% provide(:title, '検索') %>

<div class="row">
  <div class="search-form col-md-6 col-md-offset-3">
    <h1>検索</h1>
  </div>
  <%= render 'shared/search_button' %>
  <div class="search-content">
    <ul>
      <li>ユーザー検索：ユーザー名より、ユーザーを検索できます</li>
      <li>投稿検索：投稿文より、投稿を検索できます</li>
    </ul>
  </div>
</div>
