<li>
  <div class="icon col-xs-4">
    <%= icon(user, 50) %>
  </div>
  <div class="col-xs-8">
    <strong><%= link_to user.name, user %></strong>
    <span>
      ( account : <%= user.account_name %> )
    </span>
    <p><%= render 'shared/stats' %></p>
  </div>
</li>
