<div class="search-btn col-md-12">
  <div class="btn-group" role="group" aria-label="Basic example">
    <%= link_to "ユーザー検索", users_path, class: "btn btn-primary" %>
    <%= link_to "投稿検索", posts_path, class: "btn btn-primary"  %>
  </div>
</div>
