<div class="search-btn col-md-12">
  <div class="btn-group" role="group" aria-label="Basic example">
    <%= link_to "ユーザー", users_path, class: "btn btn-primary" %>
    <%= link_to "投稿", posts_path, class: "btn btn-primary"  %>
  </div>
</div>
