<% @user ||= current_user %>

<section class="stats">
<div class="stats">
  <a href="<%= following_user_path(@user) %>">
    following <%= @user.following.count %>
  </a>
  <a href="<%= followers_user_path(@user) %>">
    followers <%= @user.followers.count %>
  </a>
</div>
</section>
