<% comment = current_user.sent_comment(post) %>

<div>
  投稿済みのコメント
  <div class="comment-box">
    <div class="comment-content">
      <%= simple_format(comment.content)%>
    </div>
  </div>
</div>
<div>
  <%= link_to "コメントを削除", "/comments/#{comment.id}", method: :delete,
                                data: { confirm: "本当に削除してもよろしいでしょうか？" },
                               class: "btn btn-lg btn-danger edit-btn" %>
</div>
