<% provide(:title, '写真投稿') %>

<div class="row">
  <div class="post_form">
    <%= render 'post_form', post: @post, user: @user || current_user %>
  </div>
</div>

<%= javascript_pack_tag 'posts/new' %>
