<li class="nav-item">
  <%= link_to "新規登録", signup_path %>
</li>
<li class="nav-item">
  <%= link_to "ログイン", login_path %>
</li>
<li class="nav-item">
  <%= link_to "SharePhotoとは？", about_path %>
</li>
